.ApiPage{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* height: 10vh; */
    /* background-color: #a28dff; */
    color: #100f0f;
    text-align: center;
}

/* .homePage input{
    display: block;
    margin: 10px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
} */