.Rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 10px;
    background-color: #4c61af;
    color: #0e0404;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;

    /* background-color: #4c61af;
    padding: 5px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; */
}